
* {
    box-sizing: border-box;
}

body {
    background-color: #2C3E50;
}

.content {
    height: 100%;
    width: 90%;
    background-color: #8BC34A; /* for browsers that don't support linear gradiant */
    background-image: linear-gradient(to bottom, #8BC34A 80%, #16A085 80%, #16A085 90%, #2C3E50 90%);
    background-size: 100% 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#preview {
    height: 530px;
    width: 400px;
    background-color: white;
    box-shadow: 6px 6px 0 gray;
    margin: 30px 40px;
}

#preview img {
    width: 386px;
    height: 300px;
    background-color: #D9DCE0;
    margin: 10px 7px;
}

#user-description {
    width: 386px;
    height: 150px;
    padding: 5px 5px;
    background-color: #D9DCE0;
    margin: 0 7px;
    overflow-wrap: break-word;
}

#preview-url {
    width: 386px;
    height: 40px;
    padding: auto 5px;
    background-color: #D9DCE0;
    margin: 10px 7px;
}

.description {
    width: 400px;
    height: 150px;
}

.social-media-btns {
    list-style: none;
}

.social-media-btns li {
    float: left;
    background-color: white;
}

.social-media-btns li a {
    display: inline-block;
}

.media-input-box {
    margin: 100px 0 0 30px;
    height: 350px;
    width: 500px;
    background-color: #4267B2;
}

.block {
    display: block;
}

.test {
    font-weight: bold;
    color: white;
    padding: 15px 0 0 40px;
    z-index: 2
}

.description {
    margin: 5px 0 20px 20px;
    box-shadow: 0 0 0 6px #07275b;
    border-radius: 7px;
    z-index: 1;
}

.media-input-box p {
    color: white;
    font-weight: bold;
}

@media (max-width: 950px) {
    .content {
        height: auto;
        flex-flow: row wrap;
        padding-bottom: 300px;
    }
}