
* {
    box-sizing: border-box;
}

body {
    background-color: #2C3E50;
}

.content {
    height: 100%;
    width: 90%;
    background-color: #8BC34A; /* for browsers that don't support linear gradiant */
    background-image: linear-gradient(to bottom, #8BC34A 80%, #16A085 80%, #16A085 90%, #2C3E50 90%);
    background-size: 100% 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#preview {
    height: 530px;
    width: 400px;
    background-color: white;
    box-shadow: 6px 6px 0 gray;
    margin: 30px 40px;
}

#preview img {
    width: 386px;
    height: 300px;
    background-color: #D9DCE0;
    margin: 10px 7px;
}

#user-description {
    width: 386px;
    height: 150px;
    padding: 5px 5px;
    background-color: #D9DCE0;
    margin: 0 7px;
    overflow-wrap: break-word;
}

#preview-url {
    width: 386px;
    height: 40px;
    padding: auto 5px;
    background-color: #D9DCE0;
    margin: 10px 7px;
}

.description {
    width: 400px;
    height: 150px;
}

.media-input-form {
    margin: 100px 0 0 30px;
}

.social-media-btns {
    list-style: none;
    position: absolute;
    top: -20px;
    left: 0;
}

.tab {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 80px;
    height: 20px;
    text-decoration: none;
    color: white;
}

.social-media-btns li {
    display: inline-block;
    text-align: center;
}

/*
.social-media-btns a {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 80px;
    height: 21px;
    text-decoration: none;
    color: white;
}
*/
.social-media-btns li a.current {
    background-image: none;
}

.media-input-box {
    height: 350px;
    width: 500px;
    background-color: #3B5998;
    box-shadow: 0 2px 5px 1px black;
    position: relative;
}

.block {
    display: block;
}

.form-text {
    font-weight: bold;
    color: white;
    padding: 15px 0 0 40px;
    z-index: 2
}

.description {
    margin: 5px 0 20px 20px;
}

.site-url {
    margin-left: 7px;
}

.blue-outline {
    box-shadow: 0 0 0 5px #07275b;
    border-radius: 5px;
}

.media-input-box p {
    color: white;
    font-weight: bold;
}

#user-file {
    margin-top: 35px;
    margin-left: 40px;
    color: white;
    font-weight: bold;
}

button[type=submit] {

}

/* Classes just to hold each sites official colors */
.fb {
    background-color: #3B5998;
    background-image: linear-gradient(to bottom, #3b5998 75%, black);
}

.twitter {
    background-color: #4099FF;
    background-image: linear-gradient(to bottom, #4099FF 75%, black);
}

.pinterest {
    background-color: #C92228;
    background-image: linear-gradient(to bottom, #C92228 75%, black);
}

.tumblr {
    background-color: #35465C;
    background-image: linear-gradient(to bottom, #35465C 75%, black);
}

@media (max-width: 950px) {
    .content {
        height: auto;
        flex-flow: row wrap;
        padding-bottom: 300px;
    }
}